*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
h2 {
  color: rgb(72, 67, 67);
}
.app-container {
  background-color:rgb(211, 227, 212);
}
.users-container {
  
  display: flex;
  justify-content: space-around;
  padding: 20px;
  /* overflow-x: scroll; */
  /* overflow-y:hidden; */
  flex-wrap: wrap;
  height: max-content;
  border-bottom: 5px solid;
}
