.accordion-container {
    background-color: rgb(178, 190, 196);
    width: 50%;
    margin: 10px auto;
}
.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #FAFAFA;
    color: rgb(135, 124, 124);
    border: 2px solid black;
}
.accordion-title > h2 {
    width: 520px;
     
}
.accordion-body > p {
    color: rgb(235, 243, 251);
    
}
.accordion-body {
    min-height: 100px;
}
.accordion-body> p {
    font-size: larger;
    font-weight: 600;
    padding: 20px 30px;
}